.education-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.education-logos .lewagon_logo {
  width: 300px;
  height: auto;
}

.education-logos .swin_logo {
  width: 200px;
  margin-bottom: 10px;
  height: auto;
}
